<!DOCTYPE html>

<html>
<head>
     <title>Bettyyy/menú/categoria/hamburguesas</title>

      <link rel="stylesheet" href="/css/styles.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
</head>
<body id="fuente">
<div class="header-afuera" id="navbar">  
  <div class="header" id="">
      <div class="logo-box-1">  
          <img src="img/bettyyy-svg-01.png"
            srcset="img/bettyyy-svg-01@2x.png 2x,
                 img/bettyyy-svg-01@3x.png 3x"
                class="Combined-Shape2">
          </div>
     
           <div class="logo-box-2">  
             <img src="img/group.png"
                srcset="img/group@2x.png 2x,
                 img/group@3x.png 3x"
                class="Group nav-b">
           </div>
         
         <div class="box-menu">  
           <div class="menu-2">
              <img src="img/lugar3.png">
  
            <p class="avila">Ávila Burger, El Tolón</p>
         </div>
       </div> 
      </div>
   </div>

   <header class="header-categorias">

  <div class="logo-box-cat box">  
    <img src="img/bettyyy-svg-01.png"
      srcset="img/bettyyy-svg-01@2x.png 2x,
           img/bettyyy-svg-01@3x.png 3x"
          class="Combined-Shape2">
    </div>
    <a href="/menu">  
    <div class="logo-box-cat2 box">  
      <img src="img/flecha.png"
      srcset="img/flecha@2x.png 2x,
              img/flecha@3x.png 3x"
      class="flecha">
      </div>
             </a> 
      <div class="logo-box-cat3 box">  
        <img src="img/bettyyy-svg-02.svg"
        class="Combined-Shape-blanco">
        </div>

 </header>

 <section class="contenedor-sobre-hamburguesas">
  <h1 class="titulo-hamburguesas">Hamburguesas</h1>
  <div class="contenedor-de-hamburguesas">
    <div class="contenedor-de-hamburguesas-arriba">
      <div class="box-de-hamburguesas-arriba box">
       <h3>Ávila Burger</h3>
           <p>Hamburguesa de carne de res con queso cheddar fundido
             y tocineta crujiente.
           </p>

           <div class="precio-de-hamburguesas box">
            <p>115gr</p>
            <h1>$10.00</h1>
          </div>
  
         
          <div class="precio-de-hamburguesas-dos box">
             <p>200gr</p>
             <h1>$13.00</h1>
          </div>
  
      </div>

      <div class="box-de-hamburguesas-arriba-img box">
          <img src="img/hamburguesa-fondo-categorias.jpg" alt="" class="imagen-about-burger">
      </div>

      <div class="box-de-hamburguesas-arriba-img-fondo box"> 

          <div class="imagen-about-burger-fondo"></div>
      
        </div>
      </div>
  </div>
  <hr>
  <div class="contenedor-de-hamburguesas">
    <div class="contenedor-de-hamburguesas-arriba">
      <div class="box-de-hamburguesas-arriba box">
       <h3>Sebucán Burger</h3>
           <p>Hamburgeusa de carne de res con queso cheddar fundido
             salsa barbacoa y aros de cebolla.
           </p>

           <div class="precio-de-hamburguesas-cuatro box">
            <p>115gr</p>
            <h1>$8.50</h1>
          </div>
  
         
          <div class="precio-de-hamburguesas-cinco box">
             <p>200gr</p>
             <h1>$10.00</h1>
          </div>
  
      </div>

      <div class="box-de-hamburguesas-arriba-img box">
        <img src="img/hamburguesa-fondo-categorias.jpg" alt="" class="imagen-about-burger">
      </div>

        <div class="box-de-hamburguesas-arriba-img-fondo box"> 

        <div class="imagen-about-burger-fondo"></div>
    
      </div>
    </div>
  </div>
  <hr>
  <div class="contenedor-de-hamburguesas">
    <div class="contenedor-de-hamburguesas-arriba">
      <div class="box-de-hamburguesas-arriba box">
       <h3>Hamburguesa Especial</h3>
           <p>Hamburguesa de carne de res con hasta cuatro ingredientes
             a elección.
           </p>

           <div class="precio-de-hamburguesas box">
            <p>115gr</p>
            <h1>$11.00</h1>
          </div>
  
         
          <div class="precio-de-hamburguesas-dos box">
             <p>200gr</p>
             <h1>$15.00</h1>
          </div>
  
      </div>

      <div class="box-de-hamburguesas-arriba-img box">
        <img src="img/hamburguesa-fondo-categorias.jpg" alt="" class="imagen-about-burger">
      </div>
        <div class="box-de-hamburguesas-arriba-img-fondo box"> 

        <div class="imagen-about-burger-fondo"></div>
    
      </div>
   </div>
  </div>
  <hr>
  <div class="contenedor-de-hamburguesas">
    <div class="contenedor-de-hamburguesas-arriba">
      <div class="box-de-hamburguesas-arriba box">
       <h3>Cheese Burger</h3>
           <p>Hamburguesa de carne de res con queso cheddar fundido.
              
           </p>

           <div class="precio-de-hamburguesas box">
            <p>115gr</p>
            <h1>$8.00</h1>
          </div>
  
         
          <div class="precio-de-hamburguesas-dos box">
             <p>200gr</p>
             <h1>$11.00</h1>
          </div>
  
      </div>

      <div class="box-de-hamburguesas-arriba-img box">
        <img src="img/hamburguesa-fondo-categorias.jpg" alt="" class="imagen-about-burger">
      </div>

        <div class="box-de-hamburguesas-arriba-img-fondo box"> 

        <div class="imagen-about-burger-fondo"></div>
    
      </div>
   </div>
  </div>
  <hr>
  <div class="contenedor-de-hamburguesas">
    <div class="contenedor-de-hamburguesas-arriba">
      <div class="box-de-hamburguesas-arriba box">
       <h3>Bolívar Burger</h3>
           <p>Hamburguesa de carne de res con salsa barbacoa y tocineta crujiente.
           </p>

           <div class="precio-de-hamburguesas box">
            <p>115gr</p>
            <h1>$18.50</h1>
          </div>
  
         
          <div class="precio-de-hamburguesas-dos box">
             <p>200gr</p>
             <h1>$12.00</h1>
          </div>
  
      </div>

      <div class="box-de-hamburguesas-arriba-img box">
        <img src="img/hamburguesa-fondo-categorias.jpg" alt="" class="imagen-about-burger">
      </div>

        <div class="box-de-hamburguesas-arriba-img-fondo box"> 

        <div class="imagen-about-burger-fondo"></div>
    
      </div>
   </div>
  </div>
  <hr>
  <div class="contenedor-de-hamburguesas">
    <div class="contenedor-de-hamburguesas-arriba">
      <div class="box-de-hamburguesas-arriba box">
       <h3>Naiguatá Burger</h3>
           <p>Hamburguesa de carne de res con queso cheddar fundido
             y tocineta crujiente.
           </p>

           <div class="precio-de-hamburguesas box">
            <p>115gr</p>
            <h1>$8.00</h1>
          </div>
  
         
          <div class="precio-de-hamburguesas-dos box">
             <p>200gr</p>
             <h1>$11.00</h1>
          </div>
  
      </div>

      <div class="box-de-hamburguesas-arriba-img box">
        <img src="img/hamburguesa-fondo-categorias.jpg" alt="" class="imagen-about-burger">
      </div>

        <div class="box-de-hamburguesas-arriba-img-fondo box"> 

        <div class="imagen-about-burger-fondo"></div>
    
      </div>
   </div>
  </div>
  <hr>
  <div class="contenedor-de-hamburguesas">
    <div class="contenedor-de-hamburguesas-arriba">
      <div class="box-de-hamburguesas-arriba box">
       <h3>Trío de mini hamburguesas</h3>
           <p>Mini hamburguesas con queso cheddar fundido,
             mini hamburguesa con cebolla caramelizada y minu
             hamburguesa.
           </p>

           <div class="precio-de-hamburguesas-final box">
            <p>115gr</p>
            <h1>$9.00</h1>
          </div>
  
         
          <div class="precio-de-hamburguesas-dos-final box">
             <p>200gr</p>
             <h1>$11.50</h1>
          </div>
  
      </div>
       
      <div class="box-de-hamburguesas-arriba-img box">
        <img src="img/hamburguesa-fondo-categorias.jpg" alt="" class="imagen-about-burger">
      </div>

        <div class="box-de-hamburguesas-arriba-img-fondo box"> 

        <div class="imagen-about-burger-fondo"></div>
    
      </div>
   </div>
  </div>
   <hr>
</section>

 {{>footer}}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
 
    <script src="/js/app.js"></script>

</body>

</html>
