<!DOCTYPE html>

<html>
<head>
     <title>Bettyyy/menú</title>

      <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="index-betty">
  <div>
    <img src="img/bettyyy-svg-01.png"
    srcset="img/bettyyy-svg-01@2x.png 2x,
            img/bettyyy-svg-01@3x.png 3x"
    class="BETTYYY-SVG-01">
  </div>

  <div>
      <p>
          !Wohoo! Te presentamos el menú de
          <p class="color-avila-burger"> Ávila Burger</p>
      </p>
  </div>
 </div> 

  <div class="section-bitmap">
    <img src="img/bitmap.png"
    srcset="img/bitmap@2x.png 2x,
            img/bitmap@3x.png 3x"
    class="Bitmap">
  </div>
  
  <div class="boton-index-relative">
     <a href="/menu"> 
     <div class="boton-index">
         <div class="boton-index-fondo">
         </div>
           <p>Ver menú</p>
     </div>   
  </div>
</a>
   <div class="section-meditacion">

    <div class="over">

      <p>
       Escanear otro código    
      </p>
    </div>

      <div class="over-dos">
        <img src="img/food-wishes.png"
        srcset="img/food-wishes@2x.png 2x,
                img/food-wishes@3x.png 3x"
        class="">
      </div>
      
 
</div>
</body>

</html>
