
<footer>
    <div class="logo-box-fo1 box">  
        <img src="img/bettyyy-svg-01.png"
          srcset="img/bettyyy-svg-01@2x.png 2x,
               img/bettyyy-svg-01@3x.png 3x"
              class="Combined-Shape2">
        </div>
   
         <div class="logo-box-fo2 box">  
            <img src="img/group-12.png"
            srcset="img/group-12@2x.png 2x,
                    img/group-12@3x.png 3x"
            class="Group-12">
         </div>
         <div class="logo-box-fo3 box">  
            <img src="img/bitmap.png"
            srcset="img/bitmap@2x.png 2x,
                    img/bitmap@3x.png 3x"
            class="Bitmap-fo">
          </div>

        <div class="logo-box-fo4 box">  
    
          <div class="logo-box-foesca"> 

                <p>Escanear otro código</p>
        
          </div>

        </div>

          <div class="logo-box-msg box">
              <p>Hecho con  <i class="fas fa-heart"></i> en UPA</p>  
        </div>

</footer>